$scale: 0.7
$activeWidth: calc(min(100vmin, 100vh * 0.7))
$fixedPadding: 16px

.App
  width: 100%
  padding: $fixedPadding
  display: flex
  justify-content: center
  background: #FFF
  font-family: helvetica, arial, sans-serif

  a.link
    text-decoration: none
    color: #0AF

  a.link:active
    color: #3CF

  .content
    width: calc($activeWidth - $fixedPadding * 2)

    .cover
      width: 100%
      position: relative
      line-height: 0

      > img
        width: 100%
        border-radius: calc(32 * $activeWidth / 1024)
        line-height: 0
        margin: 0
        padding: 0

      > div
        position: absolute
        right: calc(16 * $activeWidth / 1024)
        bottom: calc(16 * $activeWidth / 1024)

        > span
          display: inline-block
          color: #DDD
          background: #222C
          border-radius: calc(32 * $activeWidth / 1024)
          font-size: calc(32 * $activeWidth / 1024)
          line-height: 2em
          margin: 0
          padding-left: calc(16 * $activeWidth / 1024)
          padding-right: calc(16 * $activeWidth / 1024)

  a.order
    display: inline-block
    text-decoration: none
    width: 100%
    color: #DDD
    font-size: calc(48 * $activeWidth / 1024)
    line-height: calc(128 * $activeWidth / 1024)
    text-align: center
    background: #222
    border-radius: calc(32 * $activeWidth / 1024)
    margin-top: calc(24 * $activeWidth / 1024)

  a.order:active
    background: #444

  .left, .right
    margin: 64px 0
    color: #222
    white-space: pre-line
    line-height: 1.5em

  .right
    text-align: right
    color: #593